<h1>Welcome</h1>

<p>
  This is a demo Angular + Node project working with the Billy API to display,
  add new and edit existing Contacts and Products
</p>

<p>Tests have been added for the following components:</p>
<ul>
  <li>product-grid-column-state-manager.service</li>
  <li>search-bar.component</li>
  <li>
    product-list-edit-dialog.component.spec.ts (would be analogous to add to
    contact-list-edit-dialog)
  </li>
  <li>
    product-repository.service.spec.ts, contact-repository.service.spec.ts
  </li>
</ul>
