<div class="datagrid-wrapper main-background">
  <clr-datagrid
    id="contactListDatagrid"
    class="contact-list-datagrid"
    [(clrDgSingleSelected)]="selectedContact"
    [clrDgLoading]="loading"
    resize-on-next-loop
  >
    <clr-dg-action-bar class="action-bar-inline">
      <div class="action-bar">
        <button
          id="addContact"
          type="button"
          class="btn btn-outline"
          (click)="onAdd()"
        >
          <clr-icon shape="plus-circle" class="is-solid"></clr-icon>
          Add Contact
        </button>
        <button
          id="edit"
          type="button"
          class="btn btn-outline"
          (click)="onEdit()"
        >
          <clr-icon shape="pencil" class="is-solid"></clr-icon>
          Edit Contact
        </button>
        <button id="delete" type="button" class="btn btn-outline">
          <clr-icon shape="trash" class="is-solid"></clr-icon>
          Delete Contact
        </button>
      </div>
      <div class="search-wrapper">
        <search-bar
          [numberOfRecordsFound]="totalRecords"
          (onSearchPhraseChange)="onSearchChange($event)"
          [placeholder]="'Search'"
        ></search-bar>
      </div>
    </clr-dg-action-bar>

    <clr-dg-placeholder> No Items Found! </clr-dg-placeholder>

    <clr-dg-column [clrDgSortBy]="'name'">
      <ng-template
        (clrDgHiddenChange)="
          columnHiddenChange('nameColumn', !columnsState?.nameColumn)
        "
        [clrDgHideableColumn]="{ hidden: !columnsState?.nameColumn }"
      >
        Name
      </ng-template>
    </clr-dg-column>
    <clr-dg-column #column>
      <ng-template
        (clrDgHiddenChange)="
          columnHiddenChange('countryColumn', !columnsState?.countryColumn)
        "
        [clrDgHideableColumn]="{ hidden: !columnsState?.countryColumn }"
      >
        Country
      </ng-template>
    </clr-dg-column>
    <clr-dg-column>
      <ng-template
        (clrDgHiddenChange)="
          columnHiddenChange('typeColumn', !columnsState?.typeColumn)
        "
        [clrDgHideableColumn]="{ hidden: !columnsState?.typeColumn }"
      >
        Type
      </ng-template>
    </clr-dg-column>
    <clr-dg-column>
      <ng-template
        (clrDgHiddenChange)="
          columnHiddenChange('createdColumn', !columnsState?.createdColumn)
        "
        [clrDgHideableColumn]="{ hidden: !columnsState?.createdColumn }"
      >
        Created Time
      </ng-template>
    </clr-dg-column>

    <clr-dg-row
      *clrDgItems="let contact of filteredContacts"
      [clrDgItem]="contact"
    >
      <clr-dg-cell>
        {{ contact.name }}
      </clr-dg-cell>
      <clr-dg-cell>{{ contact.countryId }}</clr-dg-cell>
      <clr-dg-cell> {{ contact.type }}</clr-dg-cell>
      <clr-dg-cell>
        {{ contact.createdTime | date }}
      </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination
        #pagination
        [clrDgPageSize]="20"
        [clrDgTotalItems]="totalRecords"
      >
        {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
        {{ pagination.totalItems }} Contacts
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

<app-contact-list-edit-dialog
  *ngIf="isEditDialogOpened"
  [isCreating]="isCreating"
  [contact]="selectedContact"
  (onClose)="onEditDialogClose()"
  (onSave)="onEditDialogSave($event)"
>
</app-contact-list-edit-dialog>
