<clr-modal
  id="editTasksModal"
  [(clrModalOpen)]="isOpen"
  [clrModalClosable]="false"
>
  <h3 *ngIf="isCreating" class="modal-title">Create Contact</h3>
  <h3 *ngIf="!isCreating" class="modal-title">Edit Contact</h3>

  <div class="modal-body">
    <form
      clrForm
      class="clr-form"
      [formGroup]="contactForm"
      (ngSubmit)="save()"
    >
      <clr-input-container>
        <label for="name"> Name </label>
        <input
          id="name"
          clrInput
          type="text"
          name="name"
          formControlName="name"
        />
        <clr-control-error *clrIfError="'required'">
          Required
        </clr-control-error>
        <clr-control-error *clrIfError="'maxlength'">
          Maximum length allowed is 100 characters
        </clr-control-error>
      </clr-input-container>

      <clr-select-container>
        <label for="countryId">Country Code</label>
        <select
          id="countryId"
          clrSelect
          name="countryId"
          formControlName="countryId"
        >
          <option [ngValue]="null" disabled>Please select one</option>
          <option
            *ngFor="let c of availableCountries"
            [selected]="c === countryId.value"
            [ngValue]="c"
          >
            {{ c }}
          </option>
        </select>
        <clr-control-error *clrIfError="'required'">
          Required
        </clr-control-error>
      </clr-select-container>

      <clr-select-container>
        <label for="type">Type</label>
        <select id="type" clrSelect name="type" formControlName="type">
          <option [ngValue]="null" disabled>Please select one</option>
          <option
            *ngFor="let t of availableTypes"
            [selected]="t === type.value"
            [ngValue]="t"
          >
            {{ t }}
          </option>
        </select>
        <clr-control-error *clrIfError="'required'">
          Required
        </clr-control-error>
      </clr-select-container>

      <div class="modal-footer">
        <button class="btn btn-outline" type="button" (click)="close()">
          Cancel
        </button>

        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="contactForm.invalid"
        >
          <ng-container *ngIf="isCreating; else saveMessage"
            >Create
          </ng-container>
          <ng-template #saveMessage>Save</ng-template>
        </button>
      </div>
    </form>
  </div>
</clr-modal>
